<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 py-4">

          <div class="card">
            <div class="card-header">{{viewTitle}}</div>
            <div class="card-body">
                {{#each users}}
                  {{this.name}}

                  <br>
                {{/each}}
            </div>
          </div>


        </div>
    </div>
</div>
